<div class="jumbotron">
	<h4>Proszę dodać informacje o produktach.</h4>
</div>
<div ng-controller="AddProdCtrl">
<form action="add-product_submit" method="get" accept-charset="utf-8">

<label class="label-width" for="addProduct">Nazwa produktu</label>
<input type="text" name="addProduct" value="" placeholder=""> <br>

<label class="label-width" for="cenaNetto">Cena Netto</label>
<input type="number" name="cenaNetto" value="" placeholder=""> <br>

<label class="label-width" for="numerFaktury">Numer faktury</label>
<input type="text" name="numerFaktury" value="" placeholder=""> <br>

<label class="label-width" for="dzienFaktury">Data z faktury</label>
<input type="date" name="dzienFaktury" value="" placeholder=""> <br>

<label class="label-width" for="jednostkaMiary">Jednostka miary</label>
<input type="text" name="jednostkaMiary" value="" placeholder="">

</form>


	
</div>
