	<h4>Listing produktów</h4>

<div ng-controller="productListCtrl as productListing">


<form ng-submit="" class="center-me">
<label class="label-width" for="productName">Filtruj produkty [wpisz nazwę]</label>
	<input type="text" name="" value="" data-ng-model="product.productName" placeholder=""> <br>
</form>

<br><br>

	<table class="table table-striped table-hover">
		<thead class="spacer" >
			<tr>
				<th>Name</th>
				<th>net Price</th>
				<th>gross Price</th>
				<th>Invoice number</th>
				<th>Invoice Day</th>
				<th>VAT</th>
				<th>info</th>
				<th>edit</th>
				<th>delete</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="product in prod">
				<td>{{product.productName}}</td>
				<td>{{product.netPrice | number:2}} zł</td>
				<td>{{product.grossPrice | number:2}} zł</td>
				<td>{{product.invoiceNumber}}</td>
				<td>{{product.invoiceDay}}</td>
				<td>{{product.productVAT}}%</td>
				<td><button class="btn btn-primary btn-sm" ng-click="product-info/{{product.id}}">Info</button></td>
				<td><button class="btn btn-info btn-sm">Edit</button></td>
				<td><button class="btn btn-danger btn-sm">Delete</button></td>
			</tr>
		</tbody>
	</table>
	
	

</div>