<h4>Listing produktów</h4>

<div ng-controller="productListCtrl as productListing">


<form ng-submit="" class="center-me">
<label class="label-width" for="productName">Filtruj produkty [wpisz nazwę]</label>
	<input type="text" name="" value="" data-ng-model="search.productName" placeholder=""> <br>
	<!-- uncomment below line to search by all product data -->
	<!-- <input type="text" name="" value="" data-ng-model="productSearch" placeholder=""> <br> -->
</form>

<br><br>

	<table class="table table-striped table-hover">
		<thead class="spacer" >
			<tr>
				<th>Nazwa</th>
				<th>Cena netto</th>
				<th>Cena brutto</th>
				<th>Numer faktury</th>
				<th>Data faktury</th>
				<th>VAT</th>
				<th>info</th>
				<th>Zmiana</th>
				<th>Usuwanie</th>
			</tr>
		</thead>
		<tbody >
			<tr ng-repeat="product in prod | filter:search:strict ">
			<!-- uncomment below to search by all fields -->
			<!-- <tr ng-repeat="product in prod | filter:productSearch "> -->
				<td>{{product.productName}}</td>
				<td>{{product.netPrice | number:2}} zł</td>
				<td>{{product.grossPrice | number:2}} zł</td>
				<td>{{product.invoiceNumber}}</td>
				<td>{{product.invoiceDay }}</td>
				<td>{{product.productVAT}}%</td>
				<td><a ng-href="#/product-info/{{product.objectId}}"><button class="btn btn-primary btn-sm">Info</button></a></td>
				<td><a ng-href="#/product-change/{{product.objectId}}"><button class="btn btn-warning btn-sm">Zmień cenę</button></a></td>
				<td><button ng-click="delProduct('{{product.objectId}}')" class="btn btn-danger btn-sm">Usuń</button></td>
			</tr>
		</tbody>
	</table>
	
	

</div>