<h4>Listing produktów</h4>

W bazie danych obecnie znajduje się: <span class="prodNum">{{prod.length}}</span> produktów.

<div>
<br><br>
<button type="button" ng-click="exportProduct()">Export to CSV</button>
<form ng-submit="" class="center-me">
<label class="label-width" for="productName">Filtruj produkty [wpisz nazwę] </label>
	<input type="text" name="" value="" data-ng-model="search.productName" placeholder=""> <br>
	<!-- <input type="text" name="" value="" data-ng-model="search" placeholder=""> <br> -->
</form>

<br>
	<a class="glyphicon glyphicon-refresh" ng-click="refresh()"> refresh </a>
<br><br>
<nav>
  <ul class="pagination" ng-repeat="i in howManyPages">
    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
    <li class="active"><a href="#">{{i}} <span class="sr-only">(current)</span></a></li>
    ...
  </ul>
</nav>
<br><br>

	<table class="table table-striped table-hover" id="product-table">
		<thead class="spacer" >
			<tr>
				<th>L.p.</th>
				<th>Nazwa</th>
				<th>Cena netto</th>
				<th>Cena brutto</th>
				<th>Kod produktu</th>
				<th>Data faktury</th>
				<th>VAT</th>
				<th>info</th>
				<th>Zmiana</th>
				<th>Usuwanie</th>
			</tr>
		</thead>
		<tbody >
			<tr dir-paginate="product in pageProd | filter:search:strict | itemsPerPage: 10" >
			<!-- uncomment below to search by all fields -->
			<!-- <tr ng-repeat="product in prod | filter:productSearch "> -->
				<td>{{$index + 1}}</td>
				<td>{{product.productName}}</td>
				<td>{{product.netPrice | number:2}} zł</td>
				<td>{{product.grossPrice | number:2}} zł</td>
				<td>{{product.objectId}}</td>
				<td>{{product.invoiceDay }}</td>
				<td>{{product.productVAT}}%</td>
				<td><a ng-href="#/product-info/{{product.objectId}}"><button class="btn btn-primary btn-sm">Info</button></a></td>
				<td><a ng-href="#/product-change/{{product.objectId}}"><button class="btn btn-warning btn-sm">Zmień cenę</button></a></td>
				<td><button ng-click="delProduct('{{product.objectId}}')" class="btn btn-danger btn-sm">Usuń</button></td>
			</tr>
		</tbody>
	</table>
	<dir-pagination-controls template-url="views/pagination/dirPagination.tpl.html" boundary-links="true" > </dir-pagination-controls>


</div>