<div class="jumbotron">
  <h1>Witamy!</h1>
</div>

<div class="row marketing">
  <h4>Dodaj produkt</h4>
  <p>
    Zakładka na której można wprowadzać nowe produkty do bazy danych i nadawać im następujące dane
    <ul> 
    <li>Nazwa</li>
    <li>Cena netto</li>
    <li>Numer faktury</li>
    <li>Dzień z którego jest faktura</li>
    <li>Jednostka miary</li>
    </ul>

    Następujące dane są zapisywane automatycznie: 
    <ul>
    <li>Cena brutto</li>
    <li>cena za kg</li>
    <li>data ostatniej modyfikacji</li>
    </ul>
  </p>

  <h4>Pokaż produkty</h4>
  <p>
    W tej zakładce można wyszukać produkty po nazwie, numerze faktury i dacie ostatniej modyfikacji. <br>
    Można także posortować produkty po każdej z kolumn
    <br>
    Także w tej zakładce można wydrukować (wygenerować) arkusze inwentaryzacyjne
  </p>
</div>
